/* Navbar Container */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 70px;
    background:#1E3A8A;
    position:sticky;
    top:0;
    z-index:1000;
}

/* Logo */
.logo{
    font-size:36px;
    font-weight:800;
    color:#ffffff;
    cursor:pointer;
}

.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}

.nav-links li{
    color:white;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.nav-links li:hover{
    color:#F59E0B;
}