/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f4b63b;
  color: white;

  padding: 18px 60px;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

/* Individual Menu Items */
.nav-links li {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover Effect */
.nav-links li:hover {
  color: #facc15;
}